.DS_Store
/note_client1/node_modules
/note_client1/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
note_client1/.idea
leadmanager/.idea
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
